* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  max-width: 100vw;
  max-height: 100vh;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  margin: 60px;
}

.userinput-wrapper {
  margin: 40px;
}

#submit {
  padding: 2.5px 6px;
  background: rgb(218, 212, 212);
  border: none;
  border-radius: 2px;
  cursor: pointer;
}

.userdata-wraper {
  margin: 40px;
}

.userdata {
  margin: 30px;
}

.userinfo-wrapper {
  display: flex;
  width: 80vw;
  justify-content: center;
  align-items: center;
}

.usericon {
  display: none;
  width: 140px;
  height: 140px;
}

.iamge-placeholder {
  max-width: 140px;
  max-height: 140px;
}

.userinfo {
  width: 50%;
}

.info {
  display: flex;
  padding: 10px 80px;
}